@model UserInfoForm
@{
	ViewData["Title"] = "Додавання користувача";

	var i = 0;
	var list = new SelectList(Model
		.Professions
		.Select(x => new { Id = i++, Title = x })
		.ToList(), "Id", "Title");
	var skills = ViewData["Skills"] as List<SkillModel>;

}
<div class="max-w-3xl mx-auto p-8 bg-white shadow-lg rounded-2xl mt-10">

	<h1 class="text-3xl font-bold text-gray-800 mb-6 text-center">@ViewData["Title"]</h1>

	<form method="post"
		  asp-controller="UserInfo"
		  asp-action="Create"
		  enctype="multipart/form-data"
		  class="space-y-6">
		@await Html.PartialAsync("_UserInfoFormFields", Model,
		new ViewDataDictionary(ViewData) { { "professions", list } })
		<div>
			<h2 class="text-xl font-bold">Виберіть скіли та рівень</h2>
			<table class="min-w-full bg-white border border-gray-300 rounded-lg shadow-md mt-4">
				<thead class="bg-gray-100">
					<tr>
						<th class="px-4 py-2 border-b border-gray-300 text-center">Логотип</th>
						<th class="px-4 py-2 border-b border-gray-300 text-center">Назва скіла</th>
						<th class="px-4 py-2 border-b border-gray-300 text-center">Рівень</th>
						<th class="px-4 py-2 border-b border-gray-300 text-center">Дія</th>
					</tr>
				</thead>
				<tbody id="skills-container">
					@foreach (var skill in skills)
					{
						<tr>
							<td class="px-4 py-2 border-b border-gray-300 text-center align-middle">
								@if (!string.IsNullOrEmpty(skill.Logo))
								{
									<div class="flex justify-center items-center">
										<img src="@Url.Content($"~/{skill.Logo}")" alt="@skill.Title"
											 class="img-thumbnail rounded" style="max-width: 50px;">
									</div>
								}
							</td>
							<td class="px-4 py-2 border-b border-gray-300 font-semibold text-center">@skill.Title</td>
							<td class="px-4 py-2 border-b border-gray-300 font-semibold text-center">
								<input type="number" name="skillLevels" min="1" max="100" value="1" class="border rounded px-2 py-1">
							</td>
							<td class="px-4 py-2 border-b border-gray-300 font-semibold text-center">
								<button type="button" class="bg-blue-500 text-white px-2 py-1 rounded" onclick="addSkill(this, '@skill.Id')">
									Додати
								</button>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>

		<div class="flex justify-between items-center mt-6">
			<button type="submit"
					class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-6 rounded-lg shadow-md transition duration-300">
				Зберегти
			</button>

			<a asp-controller="UserInfo"
			   asp-action="Index"
			   class="bg-green-500 hover:bg-green-600 text-white font-semibold py-2 px-6 rounded-lg shadow-md transition duration-300">
				Назад
			</a>
		</div>
	</form>
</div>

@section Head {
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
		  integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
		  crossorigin="" />
	<!-- Make sure you put this AFTER Leaflet's CSS -->
	<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
			integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
			crossorigin=""></script>
}

@section Scripts {
	<script>
		function addSkill(button, skillId) {
			button.textContent = "Видалити";
			button.classList.remove("bg-blue-500");
			button.classList.add("bg-red-500");
			button.setAttribute("onclick", `removeSkill(this, '${skillId}')`);

			var levelInput = button.closest("tr").querySelector("input[type='number']");
			var skillLevel = levelInput ? levelInput.value : 1;

			var input = document.createElement("input");
			input.type = "hidden";
			input.name = "selectedSkills[" + skillId + "]";
			input.value = skillLevel;
			button.parentElement.appendChild(input);
		}

		function removeSkill(button, skillId) {
			button.textContent = "Додати";
			button.classList.remove("bg-red-500");
			button.classList.add("bg-blue-500");
			button.setAttribute("onclick", `addSkill(this, '${skillId}')`);

			var input = button.parentElement.querySelector(`input[name="selectedSkills[${skillId}]"]`);
			if (input) {
				input.remove();
			}
		}
	</script>

	<script src="~/js/map-edit.js"></script>
}