@using System.Security.Claims
@model AspNetMvc.Models.UserInfoModel

@{
    ViewData["Title"] = Model.Name;
    var userSkills = ViewData["UserSkills"] as List<UserSkillModel> ?? new List<UserSkillModel>();
    var allSkills = ViewData["Skills"] as List<SkillModel> ?? new List<SkillModel>();
    var reviews = ViewData["Reviews"] as List<ReviewModel> ?? new List<ReviewModel>();
}

<div class="max-w-3xl mx-auto p-8 bg-white shadow-lg rounded-2xl mt-10">
    <h1 class="text-4xl font-extrabold text-gray-800 mb-4 text-center">Привіт, @Model.Name!</h1>
    <h3 class="text-xl text-gray-600 mb-2 text-center">
        Email:
        <span class="font-medium text-blue-500">@Model.Email</span>
    </h3>
    <div class="text-md text-gray-500 text-center mb-6">
        ID:
        <span class="font-semibold">@Model.Id</span>
    </div>
    <div class="text-md text-gray-500 text-center mb-6">
        Професія:
        <span class="font-semibold">@Model.Profession</span>
    </div>

    @if (userSkills.Any())
    {
        <div class="mt-6">
            <h2 class="text-lg font-semibold text-gray-800 mb-3 text-center">Навички</h2>
            <table class="min-w-full bg-white border border-gray-300 rounded-lg shadow-lg">
                <thead class="bg-gray-100">
                    <tr>
                        <th class="py-2 px-4 border-b text-center">Логотип</th>
                        <th class="py-2 px-4 border-b text-center">Навичка</th>
                        <th class="py-2 px-4 border-b text-center">Рівень</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var userSkill in userSkills)
                    {
                        var skill = allSkills?.FirstOrDefault(s => s.Id == userSkill.Skill.Id);
                        if (skill != null)
                        {
                            <tr>
                                <td class="py-2 px-4 border-b text-center">
                                    <div class="flex justify-center">
                                        <img src="@Url.Content("~/" + skill.Logo)" alt="@skill.Title Logo" class="w-12 h-12 object-cover rounded-full shadow-md">
                                    </div>
                                </td>
                                <td class="py-2 px-4 border-b text-center">@skill.Title</td>
                                <td class="py-2 px-4 border-b text-center">@userSkill.Level</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <div class="w-full h-16 bg-gray-300 rounded-lg flex items-center justify-center text-gray-600 text-lg font-medium mt-4">
            Користувач не має навичок
        </div>
    }

    @if (Model.Images != null && Model.Images.Count > 0)
    {
        <div class="mt-6">
            <h2 class="text-lg font-semibold text-gray-800 mb-3 text-center">Фотографії</h2>
            <div class="grid grid-cols-2 md:grid-cols-3 gap-6">
                @foreach (var imageUrl in Model.Images)
                {
                    <div class="flex flex-col items-center">
                        <img src="@Url.Content("~/user_info_uploads/" + imageUrl)" alt="User Image" class="w-32 h-32 object-cover rounded-lg shadow-md">

                        @if (Model.MainImage != imageUrl)
                        {
                            <form asp-controller="UserInfo" asp-action="SetMainImage" method="post" class="w-full mt-2 flex justify-center">
                                <input type="hidden" name="id" value="@Model.Id" />
                                <input type="hidden" name="imageName" value="@imageUrl" />

                                @if (User.IsInRole("Admin") || User.IsInRole("Manager") || Model.CreatedByUserId.ToString() == User.FindFirstValue(ClaimTypes.NameIdentifier))
                                {
                                    <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white py-1 px-3 rounded-lg text-sm transition duration-300">
                                        Зробити головним
                                    </button>
                                }
                            </form>
                        }
                    </div>
                }
            </div>
        </div>
    }
    else
    {
        <div class="w-full h-48 bg-gray-300 rounded-lg flex items-center justify-center text-gray-600 text-lg font-medium">
            Немає фото
        </div>
    }

    @if (reviews != null && reviews.Any())
    {
        <div class="mt-6">
            <h2 class="text-lg font-semibold text-gray-800 mb-6 text-center">Відгуки</h2>
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
                @foreach (var review in reviews)
                {
                    <div class="bg-white p-6 border border-gray-300 rounded-lg shadow-lg hover:shadow-xl transition-all duration-300">
                        <div class="flex items-center mb-4">
                            <div class="flex-shrink-0">
                                <span class="text-xl font-semibold text-gray-700">
                                    @if (review.User != null)
                                    {
                                        @review.User.FullName
                                    }
                                    else
                                    {
                                        <span class="text-gray-500">Невідомий користувач</span>
                                    }
                                </span>
                            </div>
                            <div class="ml-4 text-sm text-gray-500">
                                @review.CreatedAt.ToString("dd.MM.yyyy HH:mm")
                            </div>
                        </div>
                        <div class="mb-4">
                            <p class="text-gray-700 text-base">
                                <span class="review-text-truncated">
                                    @review.Text.Substring(0, Math.Min(review.Text.Length, 100))...
                                </span>
                                <span class="review-text-full hidden">
                                    @review.Text
                                </span>
                            </p>
                            <button class="text-blue-500 text-sm mt-2" onclick="toggleReviewText(this)">Читати більше</button>
                        </div>
                        <div class="flex justify-between items-center">
                            <div class="flex items-center">
                                @for (int i = 0; i < review.Rating; i++)
                                {
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" stroke="currentColor" class="w-5 h-5 text-yellow-500">
                                        <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z" />
                                    </svg>
                                }
                            </div>
                            <div class="text-gray-500 text-sm">
                                Оцінка: @review.Rating
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
    else
    {
        <div class="w-full h-16 bg-gray-300 rounded-lg flex items-center justify-center text-gray-600 text-lg font-medium mt-4">
            Немає відгуків
        </div>
    }

    <div class="flex justify-center mt-6">
        @if (!(bool)ViewData["HasReviewed"])
        {
            <a asp-controller="Review"
               asp-action="Add"
               asp-route-userInfoId="@Model.Id"
               class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-6 rounded-lg shadow-md transition duration-300">
                Залишити відгук
            </a>
        }
        else
        {
            <button class="bg-gray-500 text-white font-semibold py-2 px-6 rounded-lg shadow-md transition duration-300 cursor-not-allowed" disabled>
                Ви вже залишили відгук
            </button>
        }

        <a asp-controller="Home"
           asp-action="Index"
           class="bg-green-500 hover:bg-green-600 text-white font-semibold py-2 px-6 rounded-lg shadow-md transition duration-300 ml-4">
            Назад
        </a>
    </div>
</div>

@section Scripts {
    <script>
        function toggleReviewText(button) {
            const reviewTextFull = button.previousElementSibling.querySelector('.review-text-full');
            const reviewTextTruncated = button.previousElementSibling.querySelector('.review-text-truncated');

            if (reviewTextFull.classList.contains('hidden')) {
                reviewTextFull.classList.remove('hidden');
                reviewTextTruncated.classList.add('hidden');
                button.textContent = "Згорнути";
            } else {
                reviewTextFull.classList.add('hidden');
                reviewTextTruncated.classList.remove('hidden');
                button.textContent = "Читати більше";
            }
        }
    </script>
}